body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #222;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

header section {
    background-color: #222;
    margin: 0;

}



nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #00c3ff;
}

section {
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
}

ul {
    line-height: 1.8;
}

.skills span {
    display: inline-block;
    background: #00c3ff;
    color: white;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 20px;
    font-size: 14px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

.contact p {
    font-size: 16px;
}