* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    scroll-behavior: smooth;
}

/* NAVBAR */
nav {
    position: fixed;
    width: 100%;
    background: black;
    padding: 15px;
    z-index: 100;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: orange;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
        url("https://images.unsplash.com/photo-1571019613914-85f342c55f48") center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    font-size: 20px;
    margin: 20px 0;
}

.hero button {
    padding: 12px 25px;
    font-size: 16px;
    background: orange;
    border: none;
    cursor: pointer;
}

section {
    padding: 70px 10%;
}

section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
}

.facilities {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.services {
    background: #111;
    color: white;
}

.services .card {
    background: #222;
}

.plans {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.plan {
    border: 2px solid orange;
    padding: 30px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
}

.plan h3 {
    margin-bottom: 15px;
}

.plan button {
    margin-top: 20px;
    padding: 10px;
    background: orange;
    border: none;
    cursor: pointer;
}

.contact {
    background: #f4f4f4;
    text-align: center;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
}